{% extends '/layouts/base.html.twig' %}

{% block title %} New pin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Create Pin</h1>
            {{ include('pins/_form.html.twig') }}
        </div>
    </div>
    {# <style> #}
    {#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
    {#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
    {# </style> #}

    {# <div class="example-wrapper"> #}
    {#    <h1>Hello {{ controller_name }}! ✅</h1> #}

    {#    This friendly message is coming from: #}
    {#    <ul> #}
    {#        <li>Your controller at <code><a href="{{ 'C:/Users/pauli/Desktop/symfony_tuto/pinterest/src/Controller/PinsController.php'|file_link(0) }}">src/Controller/PinsController.php</a></code></li> #}
    {#        <li>Your template at <code><a href="{{ 'C:/Users/pauli/Desktop/symfony_tuto/pinterest/templates/pins/index.html.twig'|file_link(0) }}">templates/pins/index.html.twig</a></code></li> #}
    {#    </ul> #}
    {# </div> #}


{% endblock %}
